<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SandhiTesting/src/cse/iitd/SandhiTesting.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cse.iitd.SandhiTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SandhiTesting"/>
</launchConfiguration>
